  <!-- Hero "logo" section -->
  <div id="hero" class="px-4 py-5 my-5 text-center">
    <img id="mood-sync-logo" class="d-block mx-auto mb-4" src="/assets/logo2.png" alt="Mood-Sync Logo" width="250" height="200">
    <h1 class="display-5 fw-bold text-body-emphasis">Find Balance</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Discover peace and harmony with Mood-Sync. Track your daily moods, visualize your emotional journey, and gain insights into your mental health. Join our community and take control of your well-being. Create a profile today and start your journey to a more balanced, happier you. </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/signup">
         <button id="register-button" type="submit" class="btn btn-primary">Register</button>
        </a>
     
      </div>
    </div>
   <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"> <h7>Or Login below</h7></div>
  </div>
  <form id="login-form">
  <h2 id="user-login">User Login</h2>
  <div id="error-message" class="alert alert-danger d-none" role="alert"></div>
  <div id="login-username" class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" required>
  </div>
  <div id="login-password" class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  <div class="d-grid">
    <button id="login-button" type="submit" class="btn btn-primary">Log in</button>
  </div>
</form>
  