  <!-- Hero "logo" section -->
  <div id="hero" class="px-4 py-5 my-5 text-center">
    <img id="mood-sync-logo" class="d-block mx-auto mb-4" src="./assets/moodsync-logo.png" alt="Mood-Sync Logo" width="250" height="200">
    <h1 class="display-5 fw-bold text-body-emphasis">Find Balance</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Discover peace and harmony with Mood-Sync. Track your daily moods, visualize your emotional journey, and gain insights into your mental health. Join our community and take control of your well-being. Create a profile today and start your journey to a more balanced, happier you. </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/signup">
         <button id="register-button" type="submit" class="btn btn-primary">Register</button>
        </a>
       
      </div>
    </div>
  </div>