<!-- Header -->
<header id="header" class="d-flex flex-wrap justify-content-center py-3">
    <p class="d-flex align-items-center mb-3 mb-md-0 me-md-auto">
      <span id="mood-sync" class="fs-3 mx-3">MOOD-SYNC</span>
    </p>

    <div id="login-button">
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="#login-form" class="nav-link active" aria-current="page">Log In</a></li>
    </ul>
    </div>
</header> 


<!-- Hero "logo" section -->
<div id="hero" class="px-4 py-5 my-5 text-center">
    <img id="mood-sync-logo" class="d-block mx-auto mb-4" src="/images/logo2.png" alt="Mood-Sync Logo" width="250" height="200">
    <h1 class="display-5 fw-bold text-body-emphasis">Find Balance</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Discover peace and harmony with Mood-Sync. Track your daily moods, visualize your emotional journey, and gain insights into your mental health. Join our community and take control of your well-being. Create a profile today and start your journey to a more balanced, happier you.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/signup">
         <button id="register-button" type="submit" class="btn btn-primary">Register</button>
        </a>
      </div>
    </div>
  </div>


{{!-- User log-in form --}}
  <form id="login-form">
  <img id="login-icon" src="/images/login-icon.JPG" alt="User log-in icon" height="200px">
  <h2 id="user-login">User Login</h2>
  <div id="error-message" class="alert alert-danger d-none" role="alert"></div>
  <div id="login-username" class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" required>
  </div>
  <div id="login-password" class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  <div class="d-grid">
    <button id="account-login-button" type="submit" class="btn btn-primary">Log in</button>
  </div>
</form>


<!-- Footer -->
<footer id="footer" class="py-3 my-4">
    <h5 id="made-by">Made by</h5>
    <ul id="developers" class="nav justify-content-center pb-0 mb-0 mt-4">
      <li class="nav-item"><a href="https://github.com/Mtduffey36" class="nav-link px-2 text-body-secondary">Michael D.</a></li>
      <li class="nav-item"><a href="https://github.com/ManuelP02" class="nav-link px-2 text-body-secondary">Manuel P.</a></li>
      <li class="nav-item"><a href="https://github.com/Ejacosta86" class="nav-link px-2 text-body-secondary">Erica A.</a></li>
      <li class="nav-item"><a href="https://github.com/gabrielsalazar225" class="nav-link px-2 text-body-secondary">Gabriel Z.</a></li>
      <li class="nav-item"><a href="https://github.com/AndresAlbornozgil" class="nav-link px-2 text-body-secondary">Andres A.</a></li>
    </ul>
    <p id="year-made" class="text-center text-body-secondary">© 2024</p>
    
</footer>
  
<script src="/js/login.js"></script>
