#logout-button li {
    background-color: #F2F2F2;
    color: #1B1D1E;
    margin-right: 15px;
    cursor: pointer;
}

#mood-log-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#feeling-today {
    margin-bottom: 20px;
}

#write-thoughts {
    margin-top: 50px;
}

#save-changes-button {
    background-color: #EABF7F;
    border: #EABF7F;
    color: #1B1D1E;
}