#logout-form button{
    background-color: #F2F2F2;
    border: #F2F2F2;
    color: #1B1D1E;
    margin-right: 15px;
    cursor: pointer;
}

#mood-log-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

/* Mood dashboard */
#log-mood-button {
    background-color: #EABF7F;
    border: #EABF7F;
    color: #1B1D1E;
}

#mood-history-button {
    background-color: #A68E74;
    border: #A68E74;
    color: #1B1D1E;
}

#view-journal-button {
    background-color: #73726D;
    border: #73726D;
    color: #1B1D1E;
}

#feeling-today {
    font-weight: bolder;
}

#feeling-today {
    margin-bottom: 20px;
}

#write-thoughts {
    margin-top: 50px;
}

#submit-mood-button {
    background-color: #EABF7F;
    border: #EABF7F;
    color: #1B1D1E;
}

#mood-history-section {
    height: 100vh;
}

#mood-history {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

#mood-history, h1 {
    font-weight: bolder;
}

#cal-heatmap {

}