#back-button {
    background-color: #F2F2F2;
    border: #F2F2F2;
    color: #1B1D1E;
}

#view-journal {
    background-color: #A68E74;
    border: #A68E74;
    color: #1B1D1E;
}

#send-email-button {
    background-color: #EABF7F !important;
    border: #EABF7F !important;
    color: #1B1D1E !important;
}

#my-journal {
    font-weight: bolder;
    font-size: 3.5em;
    margin-bottom: 70px;
}

#journal-entries {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    letter-spacing: 0.1em;
}

#not-enough-entries {
    font-weight: bold;
    margin-bottom: 30px;
}

#entries {
    padding: 10px;
}
