#back-button {
    background-color: #F2F2F2;
    border: #F2F2F2;
    color: #1B1D1E;
}

#send-email-button {
    background-color: #EABF7F !important;
    border: #EABF7F !important;
    color: #1B1D1E !important;
}