#back-button {
    background-color: #F2F2F2;
    border: #F2F2F2;
    color: #1B1D1E;
}

#view-journal {
    background-color: #A68E74;
    border: #A68E74;
    color: #1B1D1E;
}

#send-email-button {
    background-color: #EABF7F !important;
    border: #EABF7F !important;
    color: #1B1D1E !important;
}

#my-journal {
    font-weight: bolder;
    font-size: 3.5em;
    margin-bottom: 70px;
}


#not-enough-entries {
    font-weight: bold;
    margin-bottom: 30px;
}

#entries {
    padding: 10px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

#journal-entries {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

#footer {
    flex-shrink: 0;
}