
#login-button {
    
}

#login-button a {
    background-color: #F2F2F2;
    color: #1B1D1E;
    margin-right: 15px;
}

#login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#login-icon {
    border-radius: 30%;
    margin-bottom: 15px;
}

#user-login {
    margin-bottom: 30px;
}

#account-login-button {
    background-color: #EABF7F;
    border: #EABF7F;
    color: #1B1D1E;
}

#footer {
    margin-top: 50px !important;
}