* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F2F2F2;
}

/* Header section below */

#header {
    background-color: #8C9E93;
    border-bottom: dashed 2.5px black;
}

#mood-sync {
    color: #1B1D1E;
}

/* Styles link at upper right corner */
#link {
    margin-right: 10px;
}

#link li a {
    background-color: #F2F2F2;
    color: #1B1D1E ;
    margin: 0;
}

/* Hero section below */


#mood-sync-logo {
    border-radius: 50%;
}

/* User registration modal below */



#close-button {
    background-color: #EABF7F;
    border: #EABF7F;
    color: #1B1D1E;
}

#save-changes-button {
    background-color: #EABF7F;
    border: #EABF7F;
    color: #1B1D1E;
}

/* User login section below */

#login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#login-icon {
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#user-login {
    margin-bottom: 50px;
}



#form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

#login-button {
    color: #1B1D1E;
    background-color: #EABF7F;
    border: #EABF7F;
}

#register-button {
    color: #1B1D1E;
    background-color: #EABF7F;
    border: #EABF7F;
}

/* Footer section below */

#footer {
    background-color: #8C9E93;
    border-top: dashed 5px black;
    margin: 0 !important;
}

#made-by {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    color: #1B1D1E;
}