/* Mood-Sync Color Pallete */

/* Cloud #F2F2F2
Marmalade #EABF7F
Cocoa #A68E74
Sage #8C9E93
Slate #73726D
Black #1B1D1E */


/* Applies styling to all */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F2F2F2;
}


/* Header section below */
#header {
    background-color: #8C9E93;
}

#mood-sync {
    color: #1B1D1E;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


/* Styles register button */
#register-button {
    color: #1B1D1E;
    background-color: #EABF7F;
    border: #EABF7F;
}


/* Footer section below */
#footer {
    background-color: #8C9E93;
    margin: 0 !important;
}

#made-by {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    color: #1B1D1E;
}