* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F2F2F2;
}

/* Header section below */

#header {
    background-color: #8C9E93;
    border-bottom: dashed 2.5px black;
}

#mood-sync {
    color: #1B1D1E;
}

/* Styles link at upper right corner */
#link {
    margin-right: 10px;
}

#link li a {
    background-color: #F2F2F2;
    color: #1B1D1E ;
    margin: 0;
    
}

/* Hero section below */

#hero {
    
}
/* Main section below */

#quote {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

/* Mood log section below */

#mood-log-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#feeling-today {
    padding-bottom: 10px;
}

#write-thoughts {
    padding-top: 50px;
}

#save-changes-button {
    background-color: #EABF7F;
    border: #EABF7F;
    color: #1B1D1E;
}

#mood-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

/* Footer section below */

#footer {
    background-color: #8C9E93;
    border-top: dashed 5px black;
    margin: 0 !important;
    color: #1B1D1E;
}

#made-by {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    color: #1B1D1E;
}
